.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.tabview-demo .datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabview-demo .datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tabview-demo .datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.tabview-demo .datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

div[disabled]{
    pointer-events: none;
    opacity: 0.3;
}