.amboaro p {
    word-break:break-all ;
}

.ito  { font-family:Helvetica,Arial,sans-serif;width:446px;height:auto; font-size:8.7px;padding: 0 1cm; }


@media print {
    html,body{
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust:exact;
    }
}
@page{
    size: auto;
    margin: 20mm;
}