.tete-logo {
    border-bottom: 1px solid #cfcfcb;
    /* margin-bottom: 1%; */
}

.p-button-primary {
    color: #ffffff;
    background: #59BAFF;
    border: 1px solid #59BAFF;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
div.p-button-primary :hover {
    color: #b72828;
    background: #59BAFF;
    border: 1px solid #59BAFF;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
div.humbergeur{
    display: none;
}

div#imprimable{
    background-color: #ffffff;

}

table .table{
    border: 1px solid rgb(43, 43, 43);
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #7fb2df;
    border-color: #4270eb;
    color: #ffffff;
}
@media screen and (max-width: 767px)
{
    div .mobile-m{
        display: none;
    }
    div .humbergeur{
        display: flex;
    }
    h1 .mobile-non-titre{
        display: none;
    }
    h1.m-1.p-1.mobile-non-titre {
        display: none;
    }
    div .ciWiuv{
        width: 100%;
    }
    div .gJVUZI{
        position: relative;
    }
    div .cECpmY {
        position: absolute;
        top: 0px;
        left: 65%;
        right: 0px;
        width: 35%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out 0s;
        z-index: 100;
        font-size: 0.85em;
    }
   div  .bpDwEs {
        position: absolute;
        top: 0px;
        height: 100%;
        transition: all 0.6s ease-in-out 0s;
        left: 0px;
        width: 65%;
        z-index: 2;
    }
    html,body {
        font-size: 16px;
        zoom: 84%;
    }
}