.tete-logo {
    border-bottom: 1px solid #cfcfcb;
    /* margin-bottom: 1%; */
}

/* .p-card {
    border-radius: 0px;
    background-color:red;
    z-index:99

}*/

/* .p-card .p-component{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
    background: #1C1D45;
}

.p-card.p-component.h-full.p-0.card-custom {
    background-color: #1C1D45;
} */

.p-button-primary {
    color: #ffffff;
    background: #59BAFF;
    border: 1px solid #59BAFF;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
div.p-button-primary :hover {
    color: #b72828;
    background: #59BAFF;
    border: 1px solid #59BAFF;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
div.humbergeur{
    display: none;
}

@media screen and (max-width: 750px)
{

    body{
        min-width: 250px;
    }
    div.mobile-m{
        display: none;
    }
    div.humbergeur{
        display: flex;
    }
    h1.mobile-non-titre{
        display: none;
    }
    div.ciWiuv{
        width: 100%;
    }
    div.gJVUZI{
        position: relative;
    }
}